* {
  box-sizing: border-box;
}

html,
#root,
body {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  margin: 0;
  padding: 22px 0 0 24px;
  font-family: Formular, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.section-heading {
  width: 100%;
  overflow: hidden;
  text-align: center;

  & span {
    position: relative;
    display: inline-block;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      border-bottom: 2px solid;
      width: 100%;
      margin: 0 20px;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }
  }
}

.selected-widgets-wrapper {
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 30px;
}

.group-wrapper {
  h5 {
    margin: 0;
  }

  .metadata-value {
    padding: 10px;

    span {
      display: block;
      text-align: center;
      padding: 6px;
      margin-left: 15px;
      border-radius: 15px;
      background-color: #edeff2;
      width: 60%;
      text-overflow: ellipsis;
      margin: 0 auto;
    }
  }

  .widgets-label {
    font-weight: 600;
  }
}

// .shape-wrapper {
//   margin: 10px 0;
//   border: 1px solid #c2c0d8;
//   border-radius: 8px;
//   padding: 10px;

//   .widget-shape {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     svg {
//       width: 24px;
//       height: auto;
//       margin: 0 10px;
//     }
//   }

//   .shape-label {
//     margin: 4px 0;
//     padding: 5px;
//     font-size: .85rem;
//     color: rgb(68, 76, 76);

//     .shape-value {
//       text-align: center;
//       padding: 5px;
//       border-radius: 15px;
//       background-color: #edeff2;
//       width: 60%;
//       text-overflow: ellipsis;
//     }
//   }

//   .metadata-keyvalue {
//     display: flex;
//     margin: 10px 0;

//     .metadata-label-input {
//       width: 50%;
//       margin: 5px;

//       label {
//         font-size: .8rem;
//         font-weight: 600;
//       }

//       input {
//         width: 100%;
//         padding: 4px;
//         border: none;
//         background-color: #8693d6;
//         color: white;
//         text-align: center;
//         border-radius: 15px;

//         &::placeholder {
//           color: white;
//         }

//         &:disabled {
//           color: #444242;
//           background-color: #dfe0e4;
//         }
//       }
//     }
//   }

//   .new-entry-btn {
//     display: flex;
//     justify-content: flex-end;

//     button {
//       font-size: 1.5rem;
//       padding: 0;
//       margin: 0;
//       height: 1.5rem;
//       width: 1.5rem;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       border-radius: 50%;
//       cursor: pointer;
//       background-color: unset;
//       color: #4262ff;
//       border-color: #4262ff;
//     }
//   }

//   .update-metadata-btn {
//     display: flex;
//     justify-content: center;

//     button {
//       padding: 10px 15px;
//       border-radius: 8px;
//       border: none;
//       font-weight: 500;
//       color: #3c3ea0;
//       background-color: #e1e5f7;
//       cursor: pointer;

//       &:disabled {
//         background-color: #dfe0e4;
//         color: #acadb5;
//       }
//     }
//   }
// }

.content-wrapper {
  overflow: scroll;
  flex-grow: 1;
  width: 100%;
}

.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 1rem 0;
  height: 4rem;
}

.tab-wrapper {
  width: 30%;
  padding: 0 1.8rem;
}

.tab-icon {
  cursor: pointer;
}

.tab-active {
  border-bottom: 3px solid blue;
}
